<main>
  <section *ngFor="let item of commentsJson['comments']">
    <section class="card">
      <section class="card-internal">
        <div class="classification">
          <div class="classification-internal">
            <button (click)="positive(item['id'])" class="positiveAvaliation">+</button>
            <span class="showAvaliation">{{ item['score'] }}</span>
            <button (click)="negative(item['id'])" class="negativeAvaliation">-</button>
          </div>
        </div>
        <div class="content">
          <div class="content-internal">
            <img class="imagePerfil" src="{{ item['user']['image']['png'] }}" alt="">
            <span class="usernamePerfil">{{ item['user']['username'] }}</span>
            <span class="youCreated" *ngIf=" item['user']['username'] == commentsJson['currentUser']['username']" >You</span>
            <span class="createdPerfil">{{ item['createdAt']}}</span>
          </div>
          <div>
            <p class="descriptionPostPerfil">{{ item['content'] }}</p>
          </div>
        </div>
        <button *ngIf="item['user']['username'] != commentsJson['currentUser']['username']" (click)="createReply(item['id'])" class="reply">
          <img src="../assets/images/icon-reply.svg" alt="">
          <span>Reply</span>
        </button>
        <button *ngIf="item['user']['username'] == commentsJson['currentUser']['username']" class="deletarComment">
          <img src="../assets/images/icon-delete.svg" alt="">
          <span>Deletar</span>
        </button>
        <button *ngIf="item['user']['username'] == commentsJson['currentUser']['username']" class="editarComment">
          <img src="../assets/images/icon-edit.svg" alt="">
          <span>Editar</span>
        </button>
      </section>
    </section>
    <section class="reply-section" *ngIf="item['replies'].length != 0" >
      <section class="card-reply-comment" *ngFor="let element of item['replies']" >
        <section class="card-reply-comment-internal">
          <div class="classification">
            <div class="classification-internal">
              <button class="positiveAvaliation">+</button>
              <span class="showAvaliation">{{ element['score'] }}</span>
              <button (click)="negative(item['id'])" class="negativeAvaliation">-</button>
            </div>
          </div>
          <div class="content">
            <div class="content-internal">
              <img class="imagePerfil" src="{{ element['user']['image']['png'] }}" alt="">
              <span class="usernamePerfil">{{ element['user']['username'] }}</span>
              <span class="youCreated" *ngIf=" element['user']['username'] == commentsJson['currentUser']['username']">You</span>
              <span class="createdPerfil">{{ element['createdAt']}}</span>
            </div>
            <div>
              <p class="descriptionPostPerfil"><span class="mencao">@{{ item['user']['username'] }}</span> {{ element['content'] }}</p>
            </div>
          </div>
          <button *ngIf="element['user']['username'] != commentsJson['currentUser']['username']" (click)="createReply(element['id'])" class="reply">
            <img src="../assets/images/icon-reply.svg" alt="">
            <span>Reply</span>
          </button>
          <div class="modComment">
            <button *ngIf="element['user']['username'] == commentsJson['currentUser']['username']" class="deletarComment">
              <img src="../assets/images/icon-delete.svg" alt="">
              <span>Deletar</span>
            </button>
            <button *ngIf="element['user']['username'] == commentsJson['currentUser']['username']" class="editarComment">
              <img src="../assets/images/icon-edit.svg" alt="">
              <span>Editar</span>
            </button>
          </div>
        </section>
      </section>
    </section>
    <app-reply *ngIf="item['reply']" [userId]="item['id']"></app-reply>
  </section>
</main>
