@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
    font-size: 100%;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(210, 60%, 98%);
}
.caixa{
    width: 70%;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.11);
    border-radius: 0.8rem;
}
header{
    display: table;
}
header > *{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.notification > *{
    display: inline-block;
    vertical-align: middle;
}
.notification span{
    background-color: hsl(219, 85%, 26%);
    color: white;
    position: relative;
    left: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 0.4rem;
    font-size: 100%;
    font-weight: 800;
}
.buttonRead{
    float: right;
    margin-top: 30px;
}
.buttonRead button{
    width: 150px;
    border: 0;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    font-size: 110%;
    color: hsl(219, 12%, 42%);
}